<ul class="icons inline-flex">
    <li>
        <a class="customized-icons" href="https://t.me/anomorch" target="_blank">
            <i class="fab fa-telegram-plane"></i>
        </a>
    </li>

    <li>
        <a class="customized-icons" href="https://github.com/AnoMorCH" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </li>

    <li>
        <a class="customized-icons" href="mailto:morozovantonaleksandrovich@gmail.com" target="_blank">
            <i class="fas fa-envelope"></i>
        </a>
    </li>

    <li>
        <a class="customized-icons" href="#" target="_blank">
            <i class="fas fa-briefcase"></i>
        </a>
    </li>
</ul>